*{
    padding: 0;
    margin: 0;
    background-color: rgba(59, 70, 100, 1);
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.calculator{
    width: 400px;
    height: fit-content;
}
.heading{
    width: 100%;
    margin-bottom: 20px;
}
.heading h1{
    font-size: 25px;
    color: white;
}

#input-box input{
    height: 45px;
    background-color: rgba(24, 31, 50, 1);
    margin-bottom: 22px;
    border-radius: 10px;
    font-size: 37px;
    font-weight: 600;
    color: white;
    letter-spacing: 6px;
    text-align: right;
    padding: 20px 8px; 
    width: 385px;
    border: none;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
    "auto auto auto auto"
    "auto auto auto auto"
    "auto auto auto auto"
    "auto auto auto auto"
    "reset reset equal equal";
text-align: center;
border-radius: 12px;
padding: 18px 10px;
background-color: rgba(37, 45, 68, 1);
}
.buttons button{
    background-color: rgba(255, 255, 255, 0.8);
    letter-spacing: 1px;
    padding: 9px;
    font-size: 18px;
    text-align: center;
    margin: 8px 11px;
    border-radius: 10px;
    font-weight: 700;
    font-family: system-ui;
    cursor: pointer;
    border: none;
}
#delete{
    background-color: rgba(100, 114, 153, 1);
    color: white;
}
#reset{
    grid-area: reset;
    background-color: rgba(100, 114, 153, 1);
    color: white;
}
#equal{
    grid-area: equal;
    background-color: rgba(209, 63, 48, 1);
    color: white;
}